# this file is only used to give the proper language identification as hte Y++ is based off of a Elixir, C++, C combo, etc.

*.ypp linguist-language=CPP
*.yxx linguist-language=CPP
*.yh linguist-language=C
*.yxh linguist-language=Elixir
*.yph linguist-language=C

# YMake is a similar tool to cmake

*.ymake linguist-language=CMAKE

# yttriuscli is a bash like script language made especially for automating ymake building and memory watch for y++

*.yttrius_exon linguist-language=Bash

# Yttrius is a R + ASM like language designed for firmware sided manipulations

*.yttrius linguist-language=R

*.cache linguist-language=Log
